---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro";

import { icon_add } from "@models/icons";
---

<Layout
    title="Mi Roulotte"
    description="Disfruta de los emocionantes viajes en familia que hemos realizado con nuestra caravana. Explora nuevos lugares, crea recuerdos inolvidables y vive la libertad en la carretera. ¡Nos vemos en la carretera!"
    image="/images/miroulotte.png"
    keywords={[
        "mi roulotte",
        "miroulotte.es",
        "caravana",
        "knaus",
        "camping",
        "viajes",
        "europa",
        "alemania",
        "francia",
        "españa",
        "portugal",
        "paises bajos",
        "holanda",
        "belgica",
        "italia",
        "brico caravana",
        "brico-cv",
        "bricolaje",
    ]}>
    <Button style="" href="https://miroulotte.es" target="blank">Button</Button>
    <Button style="outline" href="https://miroulotte.es" target="blank">
        Button
    </Button>
    <Button style="fill" href="https://miroulotte.es" target="blank">
        Button
    </Button>
    <br />
    <Button style="" error>Button</Button>
    <Button style="outline" error>Button</Button>
    <Button style="fill" error>Button</Button>
    <br />
    <Button style="" icon onClick="test()">{icon_add}</Button>
    <Button style="outline" icon onClick="test()">{icon_add}</Button>
    <Button style="fill" icon onClick="test()">{icon_add}</Button>
    <br />
    <Button style="" icon error>{icon_add}</Button>
    <Button style="outline" icon error>{icon_add}</Button>
    <Button style="fill" icon error>{icon_add}</Button>
</Layout>

<script is:inline>
    function test() {
        console.log("test");
    }
</script>
