---
import type DefaultProps from "@models/properties";

export interface Props extends DefaultProps {
    value?: number;
    min?: number;
    max?: number;
    step?: number;
}

const {
    value = 0,
    min = 0,
    max = 10,
    step = 1,
    id,
    classList,
    class: hashClass,
} = Astro.props;
---

<div class:list={["slider", classList, hashClass]}>
    <input
        {id}
        {value}
        {min}
        {max}
        {step}
        type="range"
        class:list={["input", hashClass]}
    />
</div>

<style>
    .slider {
        --slider-thumb-size: 14px;
        --slider-track-thickness: 3px;

        width: 100%;
        height: var(--slider-thumb-size);
        display: inline-flex;
        justify-content: start;
        align-items: center;
    }

    .slider .input {
        width: 100%;
        height: var(--slider-track-thickness);
        background: linear-gradient(
            to right,
            var(--primary-color) 0%,
            var(--surface-variant-color) 0%
        );
        border-radius: var(--slider-track-thickness);
        cursor: pointer;
        appearance: none;
        outline: none;
    }

    .slider .input::-webkit-slider-thumb {
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);
        border-radius: 50%;
        background-color: var(--primary-color);
        transform: scale(1);
        transition-property: background-color, transform;
        transition-duration: var(--animation-duration-1),
            var(--animation-duration-2);
        transition-timing-function: var(--animation-curve);
        cursor: pointer;
        appearance: none;
    }

    .slider .input::-webkit-slider-thumb:hover {
        background-color: var(--on-background-hover-color);
    }

    .slider .input::-webkit-slider-thumb:active {
        transform: scale(calc(1 + var(--scale-factor)));
    }

    .slider .input::-moz-range-thumb {
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);
        border-radius: 50%;
        background-color: var(--primary-color);
        transform: scale(1);
        transition-property: background-color, transform;
        transition-duration: var(--animation-duration-1),
            var(--animation-duration-2);
        transition-timing-function: var(--animation-curve);
        cursor: pointer;
        appearance: none;
    }

    .slider .input::-moz-range-thumb:hover {
        background-color: var(--primary-hover-color);
    }

    .slider .input::-moz-range-thumb:active {
        transform: scale(calc(1 + var(--scale-factor)));
    }
</style>

<script>
    const sliders: NodeListOf<HTMLInputElement> =
        document.querySelectorAll(".slider .input");

    const updateSliderProgress = (e: HTMLInputElement) => {
        const percentage: number =
            ((Number(e.value) - Number(e.min)) /
                (Number(e.max) - Number(e.min))) *
            100;

        e.style.background = `linear-gradient(to right, var(--primary-color) ${percentage}%, var(--surface-variant-color) ${percentage}%)`;
    };

    (window as any)["updateSliderProgress"] = updateSliderProgress;
    sliders.forEach((e) =>
        e.addEventListener("input", () => updateSliderProgress(e))
    );
</script>
