---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import ScrollToTop from "@components/ScrollToTop.astro";
import Layout from "@layouts/Layout.astro";

export interface Props {
    id?: string;
    title: string;
    description?: string;
    image?: string;
    keywords?: string[];
    floatingHeader?: boolean;
    floatingFooter?: boolean;
    floatingScrollToTop?: boolean;
}

const {
    id,
    title,
    description,
    image,
    keywords,
    floatingHeader = false,
    floatingFooter = false,
    floatingScrollToTop = true,
} = Astro.props;
---

<Layout
    {id}
    {title}
    {description}
    {image}
    {keywords}
    class:list={(Astro.props as any).class}>
    <Header float={floatingHeader} transparent={floatingHeader} />
    <Main>
        <slot />
    </Main>
    <Footer float={floatingFooter} transparent={floatingFooter} />
    {floatingScrollToTop && <ScrollToTop />}
</Layout>
